@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    text-align: center;
    width: 500px;
}

.memory-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.memory-card {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    position: relative;
}

.memory-card.flipped {
    background-color: #fff;
    transform: rotateY(180deg);
}

.memory-card.matched {
    background-color: #4caf50;
}

.card-text {
    position: absolute;
    transform: rotateY(180deg); /* Garante que o texto não fique ao contrário */
}

.reset-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-btn:hover {
    background-color: #45a049;
}

.game-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e0e0;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

